/data/OollooJinduckin_interp_EGGS.csv
/data/OollooJinduckin
/data/OollooJinduckin_interp_EGGS_compressed.csv
/utilities/103501_model_section_compare.png
/utilities/103502_model_section_compare.png
/utilities/104501_model_section_compare.png
/utilities/105901_model_section_compare.png
/utilities/105902_model_section_compare.png
/utilities/109301_model_section_compare.png
/utilities/109302_model_section_compare.png
/utilities/109801_model_section_compare.png
/utilities/110002_model_section_compare.png
/utilities/110201_model_section_compare.png
